body {
  background-color: gray;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content"
    "footer footer";
}

.grid-item {
  background-color: aqua;
  border: 2px solid white;
  padding: 10px;
  font-size: 24px;
}

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: sidebar;
}

.grid-item-3 {
  grid-area: content;
}
