/* body {
  background-color: rgb(252, 243, 243);
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 90vh;
  align-items: center;
  justify-items: stretch;
}

.grid-item {
  background-color: aqua;
  border: 2px solid white;
  padding: 10px;
  font-size: 24px;
}

.grid-item-1 {
  align-self: start;
  justify-self: center;
}

/* .grid-item-1 {
  grid-column: span 2;
}

.grid-item-2 {
  grid-row: span 3;
}

.grid-item-3 {
  grid-row: span 4;
} */
