body {
  border: 5px solid black;
  color: rgb(47, 47, 47);
}

.heading {
  text-align: center;
  background-color: aliceblue;
  text-transform: uppercase;
}

.price {
  font-style: bold;
  font-weight: 900;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more:link,
.more:visited {
  color: black;
}
.more:hover,
.more:active {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
}

.list {
  list-style: square;
}

.cart-btn {
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.cart-btn:hover {
  color: black;
  background-color: rgb(240, 240, 15);
}
